*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
body{
background: linear-gradient(to bottom, #0a0f2c 0%, #0a0f2c 50%, #050b1d 100%);

 min-height:100vh;
}
.navbar{
   background-color:rgb(11, 29, 54);
   height:60px;
   width:50%;
   font-size: .85rem;
   display:flex;
   align-items: center;
   justify-content: flex-start;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   gap:17%;
   margin-top: 15px;
   border-radius: 30px;
   padding-left: 18px;
   color:aquamarine;
}
.nav-link{
    text-decoration: none;
    color: rgb(249, 250, 253);
   
}
.box{
    height:200px;
    width:350px;
      
    background: linear-gradient(
    135deg,
    rgba(15, 61, 87, 0.3),
    rgba(15, 61, 87, 0.1)
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  color: white;
}
 
 

form{
      display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 80px;;   
}
    

.text{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    
    
    align-items: center;
}
.form-group1{
    display: flex;
   
   
   padding-right: 140px;
    justify-content: left;
    margin-top: 20px;
}
.form-group2{
    display: flex;
   
   padding-right: 140px;
    justify-content: left;
    margin-top: 20px;
}
.form-group3{
    display: flex;
   
   padding-right: 85px;
    justify-content: left;
    margin-top: 20px;
}
.submit{
    height:10px;
    width:40px;
    padding-top: 20px;
    padding-right: 120px;;
  
    
}
h1{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 90px;
}

.box textarea{
   
    color: white;
    background-color: black;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    resize: vertical;
}
.quote{
    margin-top: 180px;
}
